.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }

.Asset:hover {
  transform: scale(1.05);
}

.line {
  white-space: pre-line;
}