.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 100px !important;
    border-color: #242a3d !important;
    padding: 4px 10px;
    margin-left: 5px;
    margin-right: 10px;
    min-width: 75px;
    color: #242a3d  !important;
    text-transform: capitalize;
  }

  .buttonClassName:focus {
    outline: none;
    box-shadow: none;
  }
  
  .Button:hover {
    cursor: pointer !important;
    transform: scale(1.05) !important;
  }
  
  .Button:hover:active {
    background-color: #d2cb7d !important;
    color: #ffffff;
  }
  
  .Button:active {
    background-color: #d2cb7d !important;
    color: #ffffff;
  }
  
  .Button:focus {
    background-color: #d2cb7d;
    color: #ffffff;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #d2cb7d;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #ffffff;
    color: #d2cb7d;
  }
  
  .White {
    background-color: aliceblue !important;
    color: #242a3d !important;
    border-radius: 100px !important;
    border: none !important;
  }

  .Disabled {
    background-color: #555555 !important; /* Dark grey background */
    color: #ffffff !important; /* White text for contrast */
    border: 1px solid white !important; /* No border */
    opacity: 0.7 !important; /* Slight transparency for disabled effect */
    padding: 5px 8px !important; /* Adjust padding */
  }

  .Disabled:hover:active {
    background-color: #555555 !important;
    color: #ffffff;
  }
  
  .Disabled:active {
    background-color: #555555 !important;
    color: #ffffff;
  }
  
  .Disabled:focus {
    background-color: #555555 !important;
    color: #ffffff;
  }
  
  .Gold {
    background-color: #d2cb7d !important;
    color: #242a3d !important;
    border-radius: 100px !important;
    border: none !important;
  }
  
  .Gold:hover, .White:hover {
    cursor: pointer !important;
    transform: scale(1.05) !important;
  }

  .Bright {
    background-color: #c5bc5f;
    color: #d2cb7d;
  }

  @media (max-width: 600px) {
    .Disabled {
      font-size: small !important;
      padding: 6px 6px !important; 
    }
  }