.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 100px;
    border-color: #242a3d  !important;
    padding: 4px 10px;
    margin-left: 5px;
    margin-right: 10px;
    min-width: 75px;
    color: #242a3d  !important;
    text-transform: capitalize;
  }

  .buttonClassName:focus {
    outline: none;
    box-shadow: none;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
    color: #ffffff;
  }
  
  .Button:hover:active {
    background-color: #d2cb7d !important;
    color: #ffffff;
  }
  
  .Button:active {
    background-color: #d2cb7d !important;
    color: #ffffff;
  }
  
  .Button:focus {
    background-color: #d2cb7d;
    color: #ffffff;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #d2cb7d;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #ffffff;
    color: #d2cb7d;
  }
  
  .Black {
    background-color: aliceblue !important;
    color: #242a3d !important;
  }
  
  .BlackOutline {
    background-color: #d2cb7d !important;
    color: #242a3d !important;
  }
  
  .Bright {
    background-color: #c5bc5f;
    color: #d2cb7d;
  }