.Form {
    border: none;
  }
  
  .Button {
    border: none;
    background-color: #a79f51;
    color: #fff;
    font-weight: 500;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
  }