.RequestItem {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 30px;
  display: flex;
  background-color: #2d2d2d !important;
}

.ButtonGroup {
  display: flex;
  gap: 10px;
  justify-content: center;
}
