.NavBar {
  background-color: #2d2d2d;
  color: #fff;
}

.NavLink {
  padding: 5px;
  color: #fff;
}

.Active NavLink {
  color: #d2cb7d;
}

.Active i, .Active #dropdownMenu {
  color: #d2cb7d;
}

i:hover, .NavLink:hover, #dropdownMenu:hover {
  color: #d2cb7d;
}

.Logo {
  height: 45px;
  border: 1px solid #fff;
}

#dropdownItem:hover {
  color: #d2cb7d !important;
  background-color: #2d2d2d !important;
}

#dropdownMenu {
  color: #fff;
  transition: color ease-in-out 0.3s;
  padding: 5px;
  text-align: left;
}

#dropdownItem {
  display: block;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #170312;
  text-align: inherit;
  background-color: transparent;
  border: 0;
}

.Icon {
  color: #2d2d2d;
}

.PlusIcon {
  transition: transform 0.2s ease-in-out;
}

.PlusIcon:hover {
  transform: scale(1.1); 
}

.navbar-toggler {
  border: 1px solid #fff !important;
} 