.Post {
    background-color: #2d2d2d;
    border: 1px solid #dadadf;
    border-radius: 2px;
    text-align: center;
    color: #efeef4;
    width: 75%; 
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .Image {
    width: 100%;
    max-height: 400px;
    object-fit: fill;
    object-position: center;
    overflow: hidden; 
  }

  .Name:hover {
    color: #d2cb7d;
  }

  .ContentFont {
    font-size: 90%;
    color: #fff !important;
  }

  .Font {
    color: #d2cb7d;
    display: flex;
    flex-wrap: wrap;
  }

  .Comments {
    margin-left: 20px
  }

  /* Responsive adjustments */
  @media screen and (max-width: 600px) {
    .Post {
      width: 90%;
      height: auto;
    }
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #d2cb7d;
  }
  
  .Heart:hover {
    color: #d2cb7d;
  }
  
  .HeartOutline:hover {
    color: #d2cb7d;
  }

  /* @media (max-width: 768px) {
    .ImageContainer {
      max-height: 200px;
    }
  } */