.Post {
    background-color: #2d2d2d;
    border: 1px solid #dadadf;
    border-radius: 2px;
    text-align: center;
    color: #efeef4;
    width: 75%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  /* Responsive adjustments */
  @media screen and (max-width: 600px) {
    .Post {
      width: 90%;
      height: auto;
    }
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #d2cb7d;
  }
  
  .Heart:hover {
    color: #d2cb7d;
  }
  
  .HeartOutline:hover {
    color: #d2cb7d;
  }