.SearchBar input {
    border-radius: 20px;
    color: hsl(226, 26%, 19%);
    padding-left: 20px;
    margin-bottom: 16px;
  }

  .SearchBar {
    width: 90%;
    max-width: 600px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 600px) {
    .SearchBar {
      margin-top: 30px;
    }
  }