.App {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #171717;
  min-height: 100vh;
}

.Main {
  padding-top: 100px;
}

.Content {
  background-color: #2d2d2d;
  padding: 10px;
  margin-top: 20px;
  border-radius: 2px;
  border: 1px solid #dadadf;
  color: #efeef4;
  width: 75%;
}


#ProfileContainer {
  width: 100%;
  margin-bottom: 30px;
}

#FormContainer {
  width: 100% !important;
  margin-bottom: 30px;
}

.Comment {
  background-color: #2d2d2d;
  padding: 10px;
  width: 75%;
  border-radius: 2px;
  border: 1px solid #dadadf;
  color: #efeef4;
  margin-bottom: 20px;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #efeef4;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #d2cb7d;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #efeef4;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #d2cb7d;
}

figure {
  text-align: center;
  display: inline-block;
}

.Upload {
  max-height: 100px;
  max-width: 100px;
  cursor: pointer;
}



/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.PopularProfiles {
  width: 100%;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .Comment {
    width: 90%;
    height: auto;
  }

  #ProfileContainer, .Content {
    width: 90%;
    height: auto;
  }

  .Main {
    padding-top: 130px;
  }

}