body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
  margin-top: 1rem;
}

td {
  padding: 0.8rem 0;
  vertical-align: top;
  border-bottom: 1px solid #423f3f;
}

td:first-child {
  width: 5%; /* Icon column */
}

td:nth-child(2) {
  width: 25%; /* Label column */
}

td:last-child {
  width: 70%; /* Value column */
}

.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 600px) {
  
  .navbar a {
    font-size: 14px;
  }

  .navbar-brand {
    margin: 0;
    padding-right: 0;
  }
  
}